backgrounds/*
output/*
qrs.sframe/*
output2/*
TrainingData/*
Validation/*
generator/backgrounds/*
generator/output/*
*.pyc
backgrounds20_000/*
generated20_0000/*
devOutput/*
*.sframe/*
*.model/*
*.mlmodel
venv/*
